.hero-section {
    display: flex;
    align-items: center;
    padding: 20px;
}

@font-face {
    font-family: 'Recoleta';
    src: url('../fonts/Recoleta-SemiBold.woff') format('woff')
}

.text-container h1 {
    text-align: left;
    flex: 1;
    margin-left: 5%;
    max-width: 380px;
    font-family: 'Recoleta', sans-serif;
    color: #1f3d7a;
    font-size: 4rem;
}

.text-container h5 {
    color: #097191;
}

.text-container h2 {
    color: #2a5d9e;
    /* or your desired color */
    font-size: 2.5rem;
    margin: 10px 0;
}

.contact-button {
    background-color: #4caf50;
    /* or your desired color */
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 5px;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;

}

.image-container img {
    max-width: 100%;
    margin-right: 20%;
    /* border-radius: 15px; */
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}