.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #FFFEF4;
}

.navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #003d33;
    font-family: Arial, sans-serif;
    margin-left: 5%;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 6rem;
    
}

.navbar-links li a {
    text-decoration: none;
    color: #002936;
    font-size: 1.12rem;
}

.contact-button {
    background-color: #06422D;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin-right: 5%;
}

.contact-button:hover {
    background-color: #2EABD1;
}